<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form action="/ta03/" method="GET">
      <input type="text" name="search" style="color: black;">
      <input type="submit" value="Search" style="color: black;">
    </form>
    <div>
      <% if (products.length> 0) { %>
        <% products.forEach(product=> { %> 
          <% if (search == "" || product.tags.includes(search)) { %>
            <p>Product: <img src="<%= product.imageUrl %>"></a><%= product.name %> $<%= product.price %><br/><%= product.description %></p>
          <% } %>
       <% }) %>
      <% } else { %>
        <p>No Products Found</p>
      <% } %>
      </div>
  </div>
</div>
<div class="container">
  
</div>
<section class="pagination">
  <% if (currentPage !== 1 && previousPage !== 1) { %>
    <a href="?page=1">1</a>
  <% } %>
  <% if (hasPreviousPage) { %>
    <a href="?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>
  <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if (hasNextPage) { %>
    <a href="?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %>
  <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
    <a href="?page=<%= lastPage %>"><%= lastPage %></a>
  <% } %>
</section>


</body>
</html>
